*{  
    font-family: "Teachers", sans-serif;
    padding: 0px;
    margin: 0px;
    
}
html{
    width: 100%;
    height: 100%;
}
body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
.display{
    height: 55%;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    border-radius: 8px;


}
.left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width:30%;
}
.left:first-child{
    font-size: 20px;
}
#icon{
    width: 150px;
    height:150px;
}
#text{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.right{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    font-size: large;
    justify-content: center;
    align-items: start;
}
.div_right:nth-child(1){
    font-size: 20px;
}
.div_right:nth-child(6){
    font-size: 30px;
}

#search_section{
    padding: 30px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 100%;
    position: sticky;
    height: 150px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    
}
form{
    
    width: 100%;
    color: azure;
    font-size: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
#go{
    width: 65px;

}

#city{
    width: 80%;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;

}
#city:focus{
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer{
    width: 100%;
    padding: 10px;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}
