*{
    padding: 0px;
    margin: 0px;
    
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#search_section button{
    font-size: large;
    background-color: yellowgreen;
    border-color: brown;
    border-style: solid;
    
    color: black;
    padding: 5px;
    border-radius: 5px;
}
#search_section button:hover{
    background-color: white;
    border-color: brown;
    border-style: solid;
    color: black;
    border-radius: 5px;
    
}
.display{
    display: flex;
    flex-direction: row;
    
}
.right{
    display: grid;
    grid-template-rows:50px 30px 30px 30px 30px 80px ;
    font-size: large;
    justify-content: center;
    align-items: center;
}
.div_right{
    text-align: center;

}
.div_right:nth-child(1){
    font-size: 30px;
}
.div_right:nth-child(6){
    font-size: 50px;
}

#search_section{
    position: sticky;
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 5px;
    border-bottom-style: solid;;
    background-color: lightseagreen;
}
form{
    font-size: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
}

form:first-child{
    color: aliceblue;
}
.footer{
    padding: 10px;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-top: 5px;
    border-top-style: solid;
    border-top-color: brown;
}
